div#cnmv {
	background-color: #eefcff;
	padding: 30px;
	// text-align: left;

	.para {
		// display: inline;
		text-align: left;
		font-size: 13px;
		.nav-link {
			display: inline;
			padding: 0;
			font-weight: bold;
		}
	}
}
@media (max-width: 768px) {
	div#cnmv {
		// text-align: center;
		.image {
			display: none;
		}
		.para {
			font-size: 11px;
			text-align: center !important;
			line-height: 20px;
			margin-top: 25px;
		}
	}
	.row {
		margin-right: auto;
		margin-left: auto;
	}
}
