div#tabs {
	.nav-tabs {
		padding: 20px !important;
		padding-bottom: 0px !important;
		background-color: white !important;
		border-radius: 10px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
		margin-top: -75px;
		color: #222e34;
		a {
			color: #222e34;
		}
		a[title~='de'] {
			 color: red !important;
		 }
		.nav-link {
			border: 4px solid transparent;
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
			padding: 50px !important;
			width: 350px;
			text-align: left;
		}
		.nav-link.active {
			//border-radius: 5px !important;
			border-bottom: 4px solid #3bc5e0 !important;
			background-color: white;
			//z-index: 11
		}
	}
}
@media (max-width: 815px) {
	.nav-tabs{
		margin-top: 20px !important;
	}
	.row {
		margin-right: auto;
		margin-left: auto;
	}
}
