div#cuentanow{
  margin: 50px;
  .container{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;
    padding: 50px 100px;
  }
  h2{
    text-align: center;
    span{
      font-weight: lighter;
    }
  }
  .move{
    i{
      color: #3bc5e0 !important;
      font-size: 25px;
    }
    h6{
      margin-left: 20px;
    }
  }
  .MuiFormLabel-root{
    color: #222e34 !important;
    font-weight: normal;
    font-size: 15px;
  }
  input{
    width: 230px;
    border-bottom: 1px solid gray;
    &:focus{
      outline: none;
      border-bottom: 0 !important;
    }
  }
  .MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: 2px solid #222e34 !important;
  }
  .MuiSelect-select.MuiSelect-select{
    padding-right: 156px;
    //border-bottom: 3px solid red !important;
  }
  .MuiSelect-select:focus{
    background: none !important;
  }
  .MuiSelect-select option:hover{
    background: #3bc5e0;
  }
}
@media (max-width: 815px) {
  div#cuentanow{
    margin: 50px;
    .container{
      box-shadow: none !important;
      padding: 0 !important
    }
    h2{
      text-align: center;
      span{
        font-weight: lighter;
      }
    }
    .move{
      i{
        color: #3bc5e0 !important;
        font-size: 25px;
      }
    }
    .MuiFormLabel-root{
      color: #222e34 !important;
      font-weight: normal;
      font-size: 15px;
    }
    input{
      width: 200px;
      border-bottom: 1px solid gray;
      &:focus{
        outline: none;
        border-bottom: 3px solid #222e34 !important;
      }
    }

  }
}