div#latest-post{
  .row{
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
  }
  h2{
    color: #222e34;
    text-align: center;
    &:after {
      display: flex;
      content: "";
      background-color: #222e34;
      margin-left: 47%;
      margin-top: 20px;
      height: 3px;
      width: 40px;
    }
  }
}
