div#Financial-documents{
  text-align: left;
  h4{
    color: #222e34;
  }
  .icon{
    color: gray;
  }
  p{
    color: gray;
    margin-left: 20px;
  }
  .d-flex{
    padding: 0;
    margin-bottom: 20px;
  }
}